<div class="home_container">
    <img class="home_bg" src="assets/images/home/home_bg.jpg" alt="home_bg.jpg">
    <div class="home_logo_container">
        <img class="home_logo" src="assets/images/home/home_logo.png" alt="home_logo.png">
    </div>
    <div class="home_header_container">
        <label class="home_header">{{ 'WEBSITE_HEADER' | translate }}</label>
        <div class="home_header button_container d-grid gap-2">
            <button class="btn btn-secondary">{{ 'HOME_BTN_GLOBAL' | translate }}</button>
            <button class="btn btn-secondary">{{ 'HOME_BTN_SUISSE' | translate }}</button>
            <button class="btn btn-secondary">{{ 'HOME_BTN_ENTITIES' | translate }}</button>
        </div>
    </div>
    <div class="home_footer_container">
        <img class="home_footer" src="assets/images/home/home_footer.png" alt="home_footer.png">
    </div>
</div>