.home_logo {
    width: 15%;
    box-shadow: 4px 4px 8px;
    border-radius: 0 0 4px 4px;
}

.home_logo_container {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}

.home_footer {
    width: 70%;
}

.home_footer_container {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 16px;
}

.home_bg {
    position: absolute;
    clear: both;
    float: none;
    width: 100.2%;
    height: 100%;
    object-fit: cover;
}

.home_container {
    height: 100dvh;
    position: relative;
    clear: none;
    margin: 0 auto;
    display: block;
}