select {
    position: absolute;
    top: 16px;
    margin-right: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    width: auto;
}

.langContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}